@model Lucid_Scribe.Services.DTOs.DreamCreateDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dream</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntryDate" class="control-label"></label>
                <input asp-for="EntryDate" class="form-control" />
                <span asp-validation-for="EntryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmotionsIds" class="control-label"></label>
                <select multiple="multiple" asp-for="EmotionsIds" class="form-control" asp-items="@(new MultiSelectList(ViewBag.Emotions, "Id", "Name"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="Weirdness" class="control-label"></label>
                <input type="range" min="0" max="100" step="1" asp-for="Weirdness" class="form-control" />
                <span asp-validation-for="Weirdness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="People" class="control-label"></label>
                <input asp-for="People" class="form-control" />
                <span asp-validation-for="People" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Places" class="control-label"></label>
                <input asp-for="Places" class="form-control" />
                <span asp-validation-for="Places" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Objects" class="control-label"></label>
                <input asp-for="Objects" class="form-control" />
                <span asp-validation-for="Objects" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
